DB_USER=         # Usuario de la base de datos
DB_PASSWORD=     # Password de la base de datos
DB_HOST=         # Host de la base de datos
DB_PORT=         # Puerto de la base de datos
DB_NAME=         # Nombre de la base de datos

SECRET_KEY=      # Clave secreta para la aplicación
ALGORITHM=       # Algoritmo de cifrado para JWT
ADMIN_2FA_KEY=   # Clave de 2FA para el administrador